body
{
	width: 950px; /* Intentar que coincida con el tamaño de la imagen de cabecera*/
	margin: auto;
	background-color: #c9c9c9;
	font-family: Tahoma, Arial;
	font-size: small;
}

em
{
	font-style: italic;
}

h1
{
	font-size: 180%;
	font-weight: bold;
}

h2
{
	font-size: 150%;
	font-weight: bold;
}

h3
{
	font-size: 130%;
	font-weight: bold;
}

.comentario
{
	padding: 1em;
	margin: 1em 0em;
}

.comentario p
{
	margin: 0em 0em 1em 0em;
	padding: 1em;
	border-left: 2px dashed orange;
}

.comentario h3
{
	font-size: 90%;
}

p.destacado
{
	border-left: 3px dashed orange;
	color: orange;
	padding: 1em;
	margin-top: 1em;
}

/* todos los <p class="error"> */
p.error
{
	border-left: 3px dashed red;
	color: red;
	padding: 1em;
	margin-top: 1em;
}

#header
{
	/*background-image: url(../img/encabezado_fondo.png);
	background-repeat: repeat-x;
	background-color: #0868A2;*/
}

#buttons
{
	background-color: #A64500;
	overflow: hidden;
}

#buttons ul
{
	margin: 5px;
	overflow: hidden; /* esto hace que mantenga el alto teniendo contenido flotante */
}

#buttons li
{
	float: left;
}

#buttons a
{
	display: block;
	padding: 5px;
	text-decoration: none;
	color: white;
	background-image: url( ../img/boton_fondo.png );
	background-repeat: repeat-x;
}

#buttons a:hover, #buttons .activo a
{
	background-color: black;
}

#buttons .primero a
{
	 -moz-border-radius: 10px 0 0 10px;
    -webkit-border-radius: 10px 0 0 10px;
    border-radius: 10px 0 0 10px
}

/* 
	cuando hay espacios implica "estar dentro de" 
	esto afecta a cualquier <a> que esté dentro de algo class="ultimo"
	dentro de algo id="buttons"
*/
#buttons .ultimo a
{
	 -moz-border-radius: 0px 10px 10px 0px;
    -webkit-border-radius: 0px 10px 10px 0px;
    border-radius: 0px 10px 10px 0px
}

#contents
{
	background-color: white;
	padding: 1em;
	min-height: 400px;
}

#foot
{
	background-color: black;
	color: white;
	height: 20px;
	text-align: center;
	margin: auto;
}

/* #listado aplica a los elementos con id="listado" */
#listado
{
	width: 90%;
	margin: auto; /* hace que se centre */
	margin-top: 10px;
}

thead
{
	background: black;
	color: white;
}

/* separando por comas sumo etiquetas, esta regla aplica a todos los <th> y todos los <td> */
th, td
{
	padding: 5px;
}

/* .impar indica que tengan class="impar" */
tr.impar {
	background: #dadada;
}