<script>
	//aca baila javascript
	//alert('Este es un error');
	//var nombre = prompt('Decime tu nombre');

	//var acepta = confirm('Vamos a tomar cafe?');

	//if(acepta)	alert('Sale cofeeeeeeee '+nombre);

	//else 	alert('so re careeeeeeeeeeta '+nombre);
	
	//console.log('Esto es para desarrolladores!');
	
	//console.warn('Alertas!!!');
	
	//console.error('Erroooor');
	
</script>

<a onclick="return confirm('¿Estas seguro Wachin?')" href='http://www.infobae.com'> Ir a Infobae </a>