<form action='book.php' method='post'>
	<fieldset>
			
		<legend><h3>Comentá Aca!!</h3></legend>
		
		<br/>

		<table style='width: 80%;'>
		
			<tr>
				<td>
					<input name='name' id='name' type='hidden' value='<?php echo "$nick";?>' style='resize: none; width: 100%;'/>
					<input name='email' id='email' type='hidden' value='<?php echo "$email";?>' style='resize: none; width: 100%;'/>
					<?php echo "<h3>$nick ($email)</h3>"?>
				</td>
			</tr>

			<tr>
				<td>
					<textarea maxlength="200" name='comment' id='comment' placeholder='Escriba su mensaje...' style='height: 190px; width: 100%; resize: none;' required></textarea>
				</td>
			</tr>

			<tr>
				<td>
					<input type='submit' value='comentar'/>
				</td>
			</tr>
		
		</table>
	</fieldset>
</form>