<table>
    <tr>
        <!-- ----------------------- SECCION LOGIN ----------------------- -->
        <td>
            <?php   include('html/html_login_form.html');    ?>
        </td>
        
        <!-- ----------------------- SECCION REGISTER ----------------------- -->
        <td>
            <?php   include('html/html_register_form.html');    ?>
        </td>
        
    </tr>
</table>