<form onsubmit='return validate()' action='login.php?mode=register' method='post' id="register">

    <fieldset>
    
        <legend><h3>Registrarse</h3></legend>
        
        <table>
            
            <tr>
                <td>User:</td>
        
                <td>
                    <input name='user' id='user' type='text' style='resize: none;' required/>
                </td>
            </tr>
            
            <tr>
                <td>Password:</td>
                
                <td>
                    <input name='pass' id='pass' type='password' style='resize: none;'	required/>
                </td>
            </tr>
            
            <tr>
                <td>Reescriba la Password:</td>
            
                <td>
                    <input name='passval' id='passval' type='password' style='resize: none;'	required/>
                </td>
            </tr>
            
            <tr>
                <td>Mail:</td>
        
                <td>
                    <input name='email' id='email' type='text' style='resize: none;' required/>
                </td>
            </tr>
			
			<tr>
                <td>Reescriba el Mail:</td>
        
                <td>
                    <input name='emailval' id='emailval' type='text' style='resize: none;' required/>
                </td>
            </tr>
            
            <tr>                
                <td rowspan='2'>
                    <input type='submit' name='register' value='Registrarse'/>
                </td>
            </tr>
        
        </table>
    
    </fieldset>
	
</form>

<script>

	function validate()
	{
		var form = document.getElementById('register');
		
		if(form.email.value != form.emailval.value)
		{
			alert('Los mails no coinciden');
			
			return false;
		}
		
		if( form.pass.value != form.passval.value ) 
		{
			alert('Las contraseñas no coinciden');
			
			return false;
		}
			
		return true;
	}

</script>