<?php	if( isset($message) )	echo "<br/><br/>$message<br/><br/><br/>";	?>

<form action='contact.php' method='post' enctype='multipart/form-data'>

	<fieldset>
	
		<table style='width: 50%';>
	
			<tr>
				<td>
                    <?php echo "<h3>$nick</h3>";?>
                    
					<input name='user' id='user' type='hidden' value='<?php echo $nick;?>' />
                </td>
                
                <td>
                    <?php echo "<h3>($email)</h3>";?>
                
					<input name='mail' id='mail' type='hidden' value='<?php echo $nick;?>' />
				</td>
			</tr>
			
			<tr>
				<td>Teléfono:</td>
				
				<td>
					<input name='phone' id='phone' type='tel' style='resize: none; width: 100%;'/>
				</td>
			</tr>
			
			<tr>
				<td>Adjuntar Archivo:</td>
				
				<td>
					<input name='file' id='file' type='file' style='resize: none; width: 100%;'/>
				</td>
			</tr>
			
			<tr>
				<td style='vertical-align: top'>Mensaje*:</td>
				
				<td>
					<textarea maxlength="400" name='comment' id='comment' style='resize: none; width: 100%; height: 120px;' required></textarea>
				</td>
			</tr>
			
			<tr>
				<td>
					<input type='submit' name='submit' value='Enviar'/>
				</td>
				
				<td>Los campos con '*' son obligatorios.</td>
			</tr>
		
		</table>
		
	</fieldset>
	
</form>