<form action='login.php' method='post'>

    <fieldset>
    
        <legend><h3>Login</h3></legend>
        
        <table>
            
            <tr>
                <td>User:</td>
                
                <td>
                    <input name='user' id='user' type='text' style='resize: none;' value="<?php echo $nick; ?>" required/>
                </td>
            </tr>
            
            <tr>
                <td>Password:</td>
                
                <td>
                    <input name='pass' id='pass' type='password' style='resize: none;' value="<?php echo $passwd; ?>" required/>
                </td>
            </tr>
            
            <tr>                
                <td>
                    <input type='submit' value='Loguearse'/>
                </td>
				
				<td>
					<input type="checkbox" id="remember"  name="remember" <?php echo $remember; ?> />
					Recordarme
				</td>
            </tr>
            
        </table>
    
    </fieldset>
    
</form>