<div style='text-align:left;'>
	<br/>
	<h3>$comment[nick] $mail</h3>
	<br/>
	<p>$comment[message]</p>
	<br/>
	<h5>$comment[time]</h5>
	<br/>
	<p> ---------------------------------------- </p>
</div>