<form action='book.php' method='post'>
	<fieldset>
			
		<legend><h3>Comentá Aca!!</h3></legend>

		<table style='width: 80%;'>
		
			<tr>
				<td>
					<input name='name' id='name' type='text' placeholder='Nombre' style='resize: none; width: 100%;'/>
				</td>
			</tr>

			<tr>
				<td>
					<input name='email' id='email' type='email' placeholder='mail@myhost.com' style='resize: none; width: 100%;'/>
				</td>
			</tr>

			<tr>
				<td>
					<textarea maxlength="200" name='comment' id='comment' placeholder='Escriba su mensaje...' style='height: 190px; width: 100%; resize: none;' required></textarea>
				</td>
			</tr>

			<tr>
				<td>
					<input type='submit' value='comentar'/>
				</td>
			</tr>
		
		</table>
	</fieldset>
</form>