<SCRIPT LANGUAGE="JavaScript">
	
	function wichButton(form,button_name)
	{
		form.buttonPress.value = button_name;
	}

</script>


<form action='index.php' method='post'>
	<fieldset>
			
		<legend><h3>Publica un nuevo artículo.</h3></legend>
		
		<br/>

		<table style='width: 100%;'>
            
            <tr>
				<td>
					<input type='text' name='title' id='title' placeholder='Escriba el título aquí...' style='height: 30px; width: 100%; resize: none;' required/>
				</td>
			</tr>

			<tr>
				<td>
					<textarea name='content' id='content' placeholder='Escriba su artículo aquí (se permite html)...' style='height: 190px; width: 100%; resize: none;' required></textarea>
				</td>
			</tr>
            
            <tr>
				<td>
					<input type='text' maxlength="100" name='tags' id='tags' placeholder='Escriba tags aquí, separados por comas, ejemplo: artículo,notícia,importante,etc...' style='height: 30px; width: 100%; resize: none;'/>
				</td>
			</tr>

			<tr>
				<td>
					<input type='submit' name='publicar' id='publicar' value='Publicar' onclick="wichButton(this.form,'submit')"/>
                    
					<input type='submit' name='preview' id='preview' value='Vista Previa' onclick="wichButton(this.form,'preview')"/>
					
					<input type="hidden" name="buttonPress">
				</td>
			</tr>
		
		</table>
        
	</fieldset>
</form>

<!--
<form action='index.php' method='post'>
	<fieldset>
			
		<legend><h3>Publica un nuevo artículo.</h3></legend>
		
		<br/>

		<table style='width: 100%;'>
            
            <tr>
				<td>
					<input type='text' name='title' id='title' placeholder='Escriba el título aquí...' style='height: 30px; width: 100%; resize: none;' required/>
				</td>
			</tr>

			<tr>
				<td>
					<textarea name='content' id='content' placeholder='Escriba su artículo aquí (se permite html)...' style='height: 190px; width: 100%; resize: none;' required></textarea>
				</td>
			</tr>
            
            <tr>
				<td>
					<input type='text' maxlength="100" name='tags' id='tags' placeholder='Escriba tags aquí, separados por comas, ejemplo: artículo,notícia,importante,etc...' style='height: 30px; width: 100%; resize: none;'/>
				</td>
			</tr>

			<tr>
				<td>
					<input type='submit' name='publicar' id='publicar' value='Publicar'/>
                    
					<input type='submit' name='preview' id='preview' value='Vista Previa'/>
				</td>
			</tr>
		
		</table>
        
	</fieldset>
</form>
-->

<br/>
<br/>
